<!DOCTYPE html>
<html class="no-js">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <meta name="mobile-web-app-capable" content="yes">

  <%- typeof nfbShare != 'undefined' ? nfbShare.join('\n') : '' %>

  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet"> 
  <link rel="stylesheet" href="/css/material-icons.css">
  <link rel="stylesheet" href="/css/intlTelInput.css">
  <link rel="stylesheet" href="/css/phonon.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- ANDROID WEB APP-->
  <!--link rel="manifest" href="manifest.json"-->

  <!-- IPHONE WEB APP-->
  <link rel="apple-touch-icon" href="/images/icons/icon-152x152.png">
  <link rel="apple-touch-startup-image" href="/images/icons/icon-512x512.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="STIR">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">


  <%- typeof nfbDeps != 'undefined' ? nfbDeps.join('\n') : '<script src="/lib/jquery-3.2.1.min.js"></script>' %>

  <script src="/lib/socket.io.slim.js"></script>
  <script src="/lib/jquery-ui.min.js"></script>
  <script src="/lib/jquery.ui.touch-punch.min.js"></script>
  <script src="/lib/intlTelInput.min.js"></script>
  <script src="/lib/mediaDevices-getUserMedia-polyfill.js"></script>
  <script src="/lib/RecordRTC.min.js"></script>
  <script src="/lib/platform.js"></script>
  <script src="/lib/iphone-inline-video.min.js"></script>
  <script>
    window.IS_CLIENT = true;
    window.IS_SERVER = false;

    var initialData = '<%- initialData %>'
  </script>
  </head>
  <body>
    <%- typeof nfbHeader != 'undefined' ? nfbHeader.join('\n') : '' %>
    <%- body %>

    <!--Home suggest panel-->
    <div id="home-suggest" class="panel">
            <div class="content">
                <div class="padded-full">
                    <span id="home-suggest-message">Add this page to your home screen!</span>
                    <a href="" data-panel-close="true"><i class="material-icons">clear</i></a>
                </div>
            </div>
    </div>

    <!-- Intro Panels -->
    <div id="intro-panel" class="intro-panel panel-full">
        <div class="content">
            <video playsinline="">
                <source src="https://rawgit.com/bower-media-samples/big-buck-bunny-480p-30s/master/video.mp4">
            </video>

            <div class="overlay">
                <h1 class="video-title"> Welcome to STIR</h1>
                <a class="play-button" href=""><i class="material-icons">play_arrow</i></a>
                <a class="skip-link" href="">Skip</a>
            </div>
        </div>
    </div>
    <div id="rouser-intro-panel" class="intro-panel panel-full">
        <div class="content">
            <video playsinline="">
                <source src="https://rawgit.com/bower-media-samples/big-buck-bunny-480p-30s/master/video.mp4">
            </video>

            <div class="overlay">
                <h1 class="video-title"> Welcome</h1>
                <a class="play-button" href=""><i class="material-icons">play_arrow</i></a>
                <a class="skip-link" href="">Skip</a>
            </div>
        </div>
    </div>

    <!--Language Popover-->
    <!--div class="popover" id="lang-popover">
        <ul class="list">
            <li><a data-value="en" class="padded-list">EN</a></li>
            <li><a data-value="fr" class="padded-list">FR</a></li>
            <li><a data-value="de" class="padded-list">DE</a></li>
        </ul>
    </div-->

    <!-- PAGES -->
    <sleeper-alarms data-page="true"></sleeper-alarms>
    <sleeper-alarms-add data-page="true"></sleeper-alarms-add>
    <sleeper-alarms-add-time data-page="true"></sleeper-alarms-add-time>
    <sleeper-alarms-add-personality data-page="true"></sleeper-alarms-add-personality>
    <sleeper-alarms-add-questions data-page="true"></sleeper-alarms-add-questions>
    <sleeper-alarm-summary data-page="true"></sleeper-alarm-summary>
    <sleeper-welcome data-page="true"></sleeper-welcome>
    <sign-up-contact data-page="true"></sign-up-contact>
    <sign-up-verify data-page="true"></sign-up-verify>
    <sign-up-locale data-page="true"></sign-up-locale>
    <sign-up-pronoun data-page="true"></sign-up-pronoun>
    <rouser-alarms data-page="true"></rouser-alarms>
    <rouser-alarm-record data-page="true"></rouser-alarm-record>
    <rouser-alarm-mix data-page="true"></rouser-alarm-mix>
    <rouser-alarm-thankyou data-page="true"></rouser-alarm-thankyou>
    <rouser-alarm-mturk data-page="true"></rouser-alarm-mturk>
    <rouser-welcome data-page="true"></rouser-welcome>
    <admin-login data-page="true"></admin-login>
    <admin-dashboard data-page="true"></admin-dashboard>

    <script src="/bundle.js"></script>

    <%- typeof nfbFooter != 'undefined' ? nfbFooter.join('\n') : '' %>

  </body>
</html>
